body {
  font-family: Arial, sans-serif;
  padding-top: 70px;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(to right, #0d6efd, #6610f2);
  color: white;
  display: flex;
  align-items: center;
}

/* SERVICES */
.service-card {
  background: #fff;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.service-card i {
  font-size: 40px;
  color: #0d6efd;
  margin-bottom: 15px;
}

.service-card:hover {
  transform: translateY(-10px);
}

/* FOOTER */
.footer {
  background: #0d6efd;
  color: white;
  padding: 15px 0;
}
